extends layout

block content
  h1= title
  ul
    li You requested: <code>#{method} #{url}</code>
    li Server name: <code>#{hostname}</code>
    li Server time: <code>#{date}</code>
  h2 Request headers
  table
    tr
      th Header Name
      th Header Value
    each value, key in headers
      tr
        td <code>#{key}</code>
        td <code>#{value}</code>
  h2 Request body
  pre=body
